In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\USER\\Desktop\\nlp_mini_prj_vds_csv_file.csv")

In [3]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [4]:
def intensity_analyser(df):
    sid = SentimentIntensityAnalyzer()
    df['scores'] = df['Posts'].apply(lambda post:sid.polarity_scores(post)) 
    df['compound_score'] = df['scores'].apply(lambda score_dict:score_dict['compound'])
    df['score_intensity'] = df['compound_score'].apply(lambda c: 'pos' if c>0 else 'neg')
    return df

In [5]:
intensity_analyser(df)

,Posts,scores,compound_score,score_intensity
0,Completed an AI Specialization!Few months back...,"{'neg': 0.0, 'neu': 0.841, 'pos': 0.159, 'comp...",0.9357,pos
1,I have submitted my resume to hundreds of comp...,"{'neg': 0.0, 'neu': 0.851, 'pos': 0.149, 'comp...",0.9152,pos
2,Proud to announce on behalf of all Mandya Dist...,"{'neg': 0.0, 'neu': 0.928, 'pos': 0.072, 'comp...",0.6571,pos
3,I am posting for the second time. As i am tryi...,"{'neg': 0.027, 'neu': 0.717, 'pos': 0.257, 'co...",0.9916,pos
4,As we continue our journey of becoming part of...,"{'neg': 0.0, 'neu': 0.95, 'pos': 0.05, 'compou...",0.4926,pos
5,"Electric Miniature jeep!! Arunkumar, Kerala de...","{'neg': 0.0, 'neu': 0.866, 'pos': 0.134, 'comp...",0.9854,pos
6,There are so many professional's on LinkedIn t...,"{'neg': 0.024, 'neu': 0.77, 'pos': 0.206, 'com...",0.9807,pos
7,Apple’s most iconic retail store to date. Insp...,"{'neg': 0.0, 'neu': 0.881, 'pos': 0.119, 'comp...",0.8591,pos
8,"Life starts when you solve problems, as a data...","{'neg': 0.094, 'neu': 0.745, 'pos': 0.16, 'com...",0.8716,pos
9,"When I was at IIM Ahmedabad, I had the habit o...","{'neg': 0.1, 'neu': 0.88, 'pos': 0.02, 'compou...",-0.9282,neg